__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.idea/
.vscode/

outputs/checkpoints/*.pt
outputs/logs/*.csv
outputs/logs/*.json
outputs/logs/*.txt
outputs/figures/*.png

!outputs/checkpoints/.gitkeep
!outputs/logs/.gitkeep
!outputs/figures/.gitkeep

